* {
    font-family: 'PT Sans', sans-serif;
}

body {
    background: #d4d5d5;
    min-width: 320px;
}

a {
    transition: color 1s;
}

a svg {
    transition: fill 1s;
}

/** top bar */
.top-bar {
    background: rgba(0, 0, 0, 0.8);
}

.top-bar .container {
    padding: 8px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.top-bar-content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo img {
    display: block;
    width: auto;
    height: 32px;
}

.contacts a {
    display: block;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
}

.contacts a:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: dashed;
}

.social-links a {
    display: inline-block;
    margin-left: 8px;
}

.social-links a:first-child {
    margin-left: 0;
}

.social-links a svg {
    display: block;
    fill: rgba(255, 255, 255, 0.5);
    width: 26px;
    height: 26px;
}

.social-links a:hover svg {
    fill: rgba(255, 255, 255, 0.75);
}

/** menu */
.menu {
    background: rgba(0, 0, 0, 0.8);
}

.menu .navbar-collapse > ul {
    width: 100%;
}

.menu .dropdown-toggle {
    white-space: nowrap;
}

.menu .dropdown-toggle:after {
    vertical-align: 0.15em;
}

.menu .navbar-nav .nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.menu .nav-item .dropdown-item {
    white-space: unset;
}

.menu .nav-item.solutions .dropdown-menu {
    width: 288px;
}

.menu .nav-item.classes .dropdown-menu {
    width: 268px;
}

/** Mobile devices */
@media (max-width: 768px) {
}

/** Extra-small screens (iPhone N+ and lower) */
@media (max-width: 576px) {
    .menu {
        display: none;
    }

    .top-bar-content {
        flex-wrap: wrap;
    }

    .logo {
        order: 1;
        width: 50%;
        height: 36px;
    }

    .social-links {
        order: 2;
        width: 50%;
        height: 36px;
    }

    .contacts {
        order: 3;
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }

    .contacts > a {
        margin-bottom: 8px;
    }

    .contacts > a:last-child {
        margin-bottom: 0;
    }
}
