* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    width: 90vw;
    max-width: 320px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    color: #282822;
}

h1 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 12px;
    margin-bottom: 16px;
}

p {
    margin-bottom: 12px;
}

label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}

input[type=number] {
    display: table-cell;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    margin-bottom: 12px;
    border: solid #eee;
    border-width: 0 0 1px 0;
    outline: none;
}

input[type=number]:focus {
    border-color: #6391c4;
    margin-bottom: 8px;
    border-width: 0 0 4px 0;
}

input[type=number]:disabled {
    color: #ccc;
    border-color: transparent;
}

input[type="checkbox"] {
    margin-right: 16px;
}

button {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    background: white;
    border: 1px solid #eee;
    padding: 8px 16px;
    font-size: 16px;
    margin: 0 0 4px 0;
    transition: border-color 0.3s;
}

button:disabled {
    color: #eee;
}

button:hover {
    border-color: #666;
}

button:disabled,
button:disabled:hover {
    background: white;
    color: #eee;
    border-color: #eee;
}

.tap {
    display: block;
    margin-top: 12px;
    width: 100%;
    height: 280px;
    padding: 1em 0;
    background: #6391c4;
    color: white;
}

.record {
    background: #ff4574;
    color: white;
}

.play {
    background: blue;
    color: white;
}

.clear {gg
    background: #ff4574;
    color: #282822;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
